.ba-post{
	font-size: 14px;
	margin-bottom: 100px;
	&__img{
		display: block;
		margin-bottom: 30px;
		&:hover{
			opacity: .8;
		}
		img{
			display: block;
		}
	}
	&__date{
		display: inline-block;
		background: $brand-primary;
		color: #fff;
		text-transform: uppercase;
		font-weight: 800;
		font-family: $headings-font-family;
		padding: 10px 23px;
		line-height: 1;

	}
	&__comments{
		display: inline-block;
		margin-left: 18px;
		color: #ccc;
		i{
			font-size: 18px;
			margin-right: 10px;
			vertical-align: middle;
		}
	}
	&__likes{
		display: inline-block;
		margin-left: 18px;
		color: #ccc;
		i{
			font-size: 18px;
			margin-right: 10px;
			color: #ea6a6a;
			vertical-align: middle;
		}
	}
	&__readmore{
		&:after{
			content: "\f30f";
			display: inline-block;
		    font-family: "Ionicons";
		    speak: none;
		    font-style: normal;
		    font-weight: normal;
		    font-variant: normal;
		    text-transform: none;
		    text-rendering: auto;
		    line-height: 1;
		    -webkit-font-smoothing: antialiased
		}
	}
}
.ba-widget__title{
	font-family: $headings-font-family;
	text-transform: uppercase;
	color:  #60606e;
	font-size: 14px;
	font-weight: 700;
}
.ba-search-form{
	&__field{
		position: relative;
		display: block;
		background-color:  #ececec;
		width: 262px;
		height: 40px;
		border: none;
		color:  #60606e;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 15px 0 0 17px;
	}
	&__btn{
		position: absolute;
		right: 20px;
		top: 0;
		background: transparent;
		width: 14px;
		height: 14px;
		border: none;
		&:after {
			content: "\f4a5";
		}
	}
}
.ba-post__tabs{
	color:  #60606e;
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
}
.ba-tabs{
	margin: 28px 0 10px;
	a{
		display: inline-block;
		margin-bottom: 10px;
		&:hover{
			text-decoration: none;
		}
	}
	img{
	width: 80px;
	height: 81px;
	margin-right: 5px;
	}
	&__title{
	font-family: $headings-font-family;
	color:  #60606e;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
	width: 120px;
	text-transform: uppercase;
	&:hover{
		color: #7beec7;
	}
	}
}
.ba-category{
	list-style: none;
	padding-left: 17px;
	padding: 0;
	&__item{
		margin-bottom: 30px;
		border-bottom: 1px solid #777;
	}
	a{
		color:  #60606e;
		font-size: 14px;
		font-weight: 400;
		&:hover{
			text-decoration: none;
			color: #7beec7;
		}
	}
	span{
		float: right;
	}
}

.ba-tag{
	list-style: none;
	padding-left: 0;
	li{
	float: left;
	background-color:  #e5e5e5;
	height: 30px;
	line-height: 30px;
	margin: 0 5px 5px;
	padding: 0 15px;
	}
	a{
	color:  #999999;
	font-size: 12px;
	font-weight: 700;
	&:hover{
		text-decoration: none;
		color: $brand-primary;
	}
	}
}
