.ba-footer
  .container
    .col-md-8.col-xs-4
      .row
        nav.footer-nav
          ul.ba-footer-list
            li
              a.ba-title-page(href='index.html') Home
            li
              a.ba-title-page(href='about.html') about us
            li
              a.ba-title-page(href='services.html') services
            li
              a.ba-title-page(href='#') portfolio
            li
              a.ba-title-page(href='#blog.html') blog
            li
              a.ba-title-page(href='contact.html') contact us
    .col-md-4.col-xs-8
      .row
        .ba-title-page
          | created by akhouad ©2016. all rights reserved.
        ul.ba-social-icons
          li
            a(href='#')
              i.icon.ion-social-facebook
          li
            a(href='#')
              i.icon.ion-social-twitter
          li
            a(href='#')
              i.icon.ion-social-youtube
          li
            a(href='#')
              i.icon.ion-social-linkedin
          li
            a(href='#')
              i.icon.ion-social-pinterest
          li
            a(href='#')
              i.icon.ion-social-instagram
