// jQuery (necessary for Bootstrap's JavaScript plugins)
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
// Include all compiled plugins (below), or include individual files as needed
script(src='assets/javascripts/bootstrap.min.js')
script(src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js')
script(src='assets/javascripts/slick.min.js')
script(src='assets/javascripts/main.js')
