
<div class="ba-subscribe">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2 class="ba-subscribe__title">YOU THINK WE'RE COOL ? LET'S WORK TOGETHER</h2><a href="#" class="btn btn-default">get in touch</a>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="ba-stay">
          <h3 class="ba-stay__title">STAY INFORMED WITH OUR NEWSLETTER</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <form action="#" method="post" class="ba-stay-form">
            <input type="email" name="your email" placeholder="Your email"/>
            <button type="submit" class="btn btn-primary">send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>