.ba-subscribe
	.container
		.row
			.col-md-6.col-sm-12
				h2.ba-subscribe__title
					| YOU THINK WE'RE COOL ? LET'S WORK TOGETHER
				a.btn.btn-default(href='#') get in touch
			.col-md-6.col-sm-12
				.ba-stay
					h3.ba-stay__title STAY INFORMED WITH OUR NEWSLETTER
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					form.ba-stay-form(action="#", method="post")
						input(type="email" name="your email" placeholder="Your email")
						button.btn.btn-primary(type="submit") send
